*, :after, :before {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: 0;
}

.uvod,
.pravidla1 {
  width: 350px;
  background-color: #283e50;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  line-height: 1.5;
  text-align: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 4px gray;
  margin: 3px auto;
}

.obrazek {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.obsah {
  padding: 0 15px 15px 15px;
}

.priklady {
  padding: 20px 30px 0 30px;
}

.nadpis,
.nadpis1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  font-weight: normal;
  margin: 14px 0 15px 0;
}

.nadpis1 {
  margin: 0;
  padding: 20px 0;
}
.seznam {
  padding: 0 0 0 70px;
  text-align: left;
}
.seznam li {
  padding: 10px 40px 10px 0;
  line-height: 1;
}

.ikona {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.priklady figure {
  width: 100%;
  margin: 0;
}
.priklady img {
  width: 100%;
}
.priklady figcaption {
  font-style: italic;
  margin: 5px 0 40px 0;
  line-height: 1;
}
.tlacitka {
  list-style: none;
  margin: 0;
  padding: 0;
}

.zacit {
  border-top: 1px solid #283e50;
}

.tlacitka a {
  display: block;
  width: auto;
  padding: 12px;
  color: white;
  text-decoration: none;
}

.pravidla a,
.uvodni-stranka a {
  background-color: #1fcca4;
}

.zacit a {
  background-color: #0197f6;
}

.pravidla a:hover,
.pravidla a:focus,
.uvodni-stranka a:hover,
.uvodni-stranka a:focus {
  background-color: #1cbb96;
}

.zacit a:hover,
.zacit a:focus {
  background-color: #0090e9;
}

@media screen and (min-width: 800px) {
  .pravidla1 {
    width: 670px;  
  }
  .priklady {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
  }
  .priklady figure {
    flex: 1 1 calc(50% - 90px);
    padding-right: 30px;
  }
} 

/*stylování hry*/

.hra {
  max-width: 80vmin;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  margin: 0 auto;
}
.nadpis2 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  font-weight: normal;
  margin: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.hraje {
  display: flex;
}
.text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  margin: 10px 0 10px 5px;
}
.ikona1 {
  width: 1.3em;
  height: 1.3em;
  filter: invert(100%);
  margin: 20px 0 0 5px;
}
.tlacitka2 {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px 5px 10px 0;
}
.zpet-uvod {
  width: 40px;
  height: 42px;
  background-color:  #1fcca4;
  border-radius: 3px;
  margin-right: 7px;
}
.znovu {
  width: 40px;
  height: 42px;
  background-color: #0197f6;
  border-radius: 3px;
}
.zpet-uvod img,
.znovu img {
  position: relative;
  top: 7px;
}
.zpet-uvod:hover,
.zpet-uvod:focus {
  background-color: #1cbb96;
}
.znovu:hover,
.znovu:focus {
  background-color: #0090e9;
}
.mrizka {
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  border: 1px solid #283e50;
}
.field {
  flex: 1 1 10%;
  border: 1px solid #283e50;
  background-color: rgba(255, 255, 255, 0.3);
}
.field:hover,
.field:focus {
  background-color:  rgba(255, 255, 255, 0.5);
}
.kolecko,
.krizek {
  flex: 1 1 10%;
  border: 1px solid #283e50;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  animation-duration: 0.15s;
  animation-name: size;
}
.kolecko {
  background-image: url("obrazky/circle.svg");
}
.krizek {
  background-image: url("obrazky/cross.svg");
}
@keyframes size {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 70%
  }
}